<div
  class="bg-surface-900/60 backdrop-blur-xl border border-surface-800/50 rounded-3xl overflow-hidden shadow-xl shadow-black/20 ring-1 ring-white/5 mb-8">

  <div class="p-6 border-b border-surface-800/50 bg-surface-800/30">
    <div class="flex flex-col sm:flex-row justify-between gap-4">
      <div>
        <h2 class="text-white text-xl font-semibold">Empleados disponibles</h2>
        <p class="text-surface-400 text-sm mt-1">Selecciona empleados para agregar al proyecto</p>
      </div>
      <div class="relative max-w-xs w-full">
        <svg class="absolute left-4 top-1/2 transform -translate-y-1/2 text-surface-400 w-5 h-5" fill="none"
          stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
        <input type="text" placeholder="Buscar empleados..."
          class="w-full pl-12 pr-4 py-2 bg-surface-800/50 border border-surface-700/50 text-white rounded-xl placeholder-surface-500 focus:outline-none focus:ring-2 focus:ring-primary transition-all duration-300">
      </div>
    </div>
  </div>


  <div class="divide-y divide-surface-800/50">

    <div class="hidden sm:grid grid-cols-12 gap-4 p-6 border-b border-surface-800/50 bg-surface-800/30">
      <div class="col-span-8">
        <h3 class="text-surface-300 text-sm font-semibold">Empleado</h3>
      </div>
      <div class="col-span-4 text-right">
        <h3 class="text-surface-300 text-sm font-semibold">Acción</h3>
      </div>
    </div>

    <div class="p-6 hover:bg-surface-800/30 transition-colors duration-200">
      <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 items-center">
        <div class="col-span-8 flex items-center gap-4">
          <div class="w-10 h-10 rounded-xl overflow-hidden bg-surface-800 border border-surface-700/50">
            <img [src]="employee().fotoPerfil" alt="Empleado" class="w-full h-full object-cover">
          </div>
          <div>
            <p class="text-white font-medium">{{employee().nombreCompleto}}</p>

          </div>
        </div>
        <div class="col-span-4 flex justify-end">
          <button (click)="onClickAssign()" class="px-3 py-1.5 bg-primary/10 hover:bg-primary/20 border border-primary/20 text-primary rounded-lg
            text-sm font-medium transition-colors duration-200 flex items-center gap-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            Asignar
          </button>
        </div>
      </div>
    </div>

  </div>


</div>